* {
  margin: 0;
  padding: 0;
}

:root {
}

body {
  background-color: #212a3e;
  color: white;
}

.navigation-bar {
  background-color: #79d8ec;
  height: 100px;
  width: 99.3%;
  border-radius: 5px;
  border: solid #11999e 5px;
  display: flex;
  position: sticky;
  top: 0;
}

.nav-org {
  height: 100%;
  width: 46%;
}

#JoeDev-logo {
  height: 100%;
}

#navbar {
  width: 53%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-menu {
  transition: 0ms;
  width: 65%;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-family: Kanit;
  font-size: 20px;
  font-weight: bold;
  color: #212a3e;
}

#navlink {
  text-decoration: none;
}

#navlink:visited {
  text-decoration: none;
  color: inherit;
}

li {
  width: 100px;
  text-align: center;
}

@keyframes cursor {
  0% {
    background-color: white;
  }

  50% {
    background-color: none;
  }
}

li:hover {
  animation: cursor 1s infinite;
}

h1,
p {
  font-family: Source Code Pro;
  font-size: 50px;
}

#welcome-section {
  height: 600px;
  width: 100%;
  display: flex;
}

.welcome-info {
  height: 250px;
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  font-size: 100px;
}

h1::after {
  content: "_";
  opacity: 0;
  animation: cursor2 1s infinite;
}

@keyframes cursor2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#projects {
  height: 500px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.projects-title {
  font-family: Source Code Pro;
  font-size: 50px;
  height: 80%;
  padding-top: 15px;
}

.projects-title::after {
  content: "_";
  opacity: 0;
  animation: cursor2 1s infinite;
}

.project-box {
  height: 230px;
  width: 350px;
  overflow: hidden;
  display: flex;
  vertical-align: center;
  border-radius: 10px;
  font-size: 100px;
}

.text-eg {
  height: 70px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
}

#project-img {
  width: 130%;
  height: 100%;
  margin-left: -15%;
}

.real-example:hover {
  height: 225px;
  width: 345px;
  border: dotted white 5px;
  display: flex;
  align-content: center;
}

.page-description {
  height: 85%;
  width: 90%;
  font-family: Amatic SC;
  text-align: center;
  display: none;
}

#example-cv1:hover ~ #example-cv2 .page-description {
  display: block;
  border: dotted white 5px;
}

#example-product1:hover ~ #example-product2 .page-description {
  display: block;
  border: dotted white 5px;
}

#example-doc1:hover ~ #example-doc2 .page-description {
  display: block;
  border: dotted white 5px;
}

#example-trib1:hover ~ #example-trib2 .page-description {
  display: block;
  border: dotted white 5px;
}

#contact {
  height: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-intro {
  height: 200px;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-family: Source Code Pro;
  font-size: 40px;
  margin: 60px 0;
}

h3::after {
  content: " ↴";
  opacity: 0;
  animation: cursor2 1s infinite;
}

.contact-pages {
  width: 75%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 80px;
}

.social-name {
  width: 100%;
  height: 75px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#fb,
#tw,
#gh,
#li,
#pn {
  display: none;
  width: fit-content;
  color: white;
}

#profile-link:hover {
  color: #79d8ec;
}

.fb:hover ~ .social-name #fb {
  display: block;
  background-color: white;
  color: #212a3e;
}

.tw:hover ~ .social-name #tw {
  display: block;
  background-color: white;
  color: #212a3e;
}

.gh:hover ~ .social-name #gh {
  display: block;
  background-color: white;
  color: #212a3e;
}

.li:hover ~ .social-name #li {
  display: block;
  background-color: white;
  color: #212a3e;
}

.pn:hover ~ .social-name #pn {
  display: block;
  background-color: white;
  color: #212a3e;
}

#profile-link:visited {
  color: white;
}

@media screen and (max-width: 1080px) {
  body {
    background-color: #212a3e;
  }
}
